<p id="notice"><%= notice %></p>

<p>
  <b>Treatment date:</b>
  <%= @treatment.date %>
</p>

<p>
  <b>Treatment type:</b>
  <%= @treatment.type %>
</p>

<p>
  <b>Notes:</b>
  <%= @treatment.notes %>
</p>

<p>
  <b>Cow:</b>
  Cow
</p>


<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
